<ion-view title="Herramientas">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  
  <ion-content>
    <div class="row">

        <div class="col">
          <a href="#/app/herramientas/calculadora" class="button button-light icon ion-calculator btnMenu padding"> <br>Calculadora de notas</a>
        </div>
        <div class="col">
          <a href="#/app/herramientas/mapas" class="button  button-light icon ion-location btnMenu padding"> <br>Ubicaciones del campus</a>
        </div>

    </div>

    <div class="row">

        <div class="col">
          <a href="#/app/herramientas/notificaciones" class="button button-light icon ion-paper-airplane btnMenu padding"> <br>Notificaciones de clases</a>
        </div>
        <div class="col">
          <a href="#/app/herramientas/calendario" class="button button-light icon ion-calendar btnMenu padding"> <br>Calendario academico</a>
        </div>
  </div>
  

  <div class="row">

        <div class="col">
          <a href="#/app/herramientas/directorio" class="button button-light icon ion-person-stalker btnMenu padding"> <br>Directorio de contacto</a>
        </div>
        <div class="col">
          <a href="#/app/herramientas/manual" class="button button-light icon ion-android-book btnMenu padding"> <br>Manual del estudiante</a>
        </div>
  </div>

  </ion-content>

</ion-view>