<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
     
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Menu</h1>
      <img class="imgMenu" src="img/logoUnimag.png">
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/noticias">
           <i class="icon ion-arrow-graph-up-right"></i> Noticias
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/perfil">
          <i class="icon ion-person"></i> Perfil
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/horario">
          <i class="icon ion-clock"></i> Horario
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/notas">
          <i class="icon ion-clipboard"></i> Notas
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/historial">
          <i class="icon ion-calendar"></i> Historial
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/herramientas">
          <i class="icon ion-settings"></i> Herramientas
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>