<ion-view title="Noticias">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  
  	<ion-content class="has-header">
	  <div ng-repeat="noticia in noticias" class="list card item-text-wrap">
	  	<div class="item item-divider item-positive">
                <i class="icon ion-speakerphone"></i> {{noticia.title}}
            </div>
	  	<p ng-bind-html="noticia.content" class="padding"></p>

	  </div>
	</div>
</ion-view>
