<ion-view title="Calculadora Notas">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  
  <ion-content>
  	<div class="list">
      
      <item ng-repeat="asignatura in asignaturas" type="item-text-wrap" href="#">
              <div class="card">
                <div class="item item-divider">
                  {{asignatura.name}}
                  <span class="item-note">
                    Creditos: {{asignatura.creditos}}
                  </span>
                </div>
                
                <div class="row">
                  <div class="col">
                    <label class="item item-input item-stacked-label noborder">
                      <span class="input-label">Seg 1</span>
                      <input ng-model="mat1_sg1" type="text" value="{{asignatura.clases[0].seg1}}"placeholder="0">
                    </label>
                  </div>
                  <div class="col">
                    <label class="item item-input item-stacked-label noborder">
                      <span class="input-label">Seg 2</span>
                      <input ng-model="mat1_sg2" type="text" value="{{asignatura.clases[0].seg2}}" placeholder="0">
                    </label>
                  </div>
                  <div class="col">
                    <label class="item item-input item-stacked-label noborder">
                      <span class="input-label">Seg 3</span>
                      <input ng-model="mat1_sg3" type="text" value="{{asignatura.clases[0].seg3}}" placeholder="0">
                    </label>
                  </div>
                </div>
                <div class="item item-divider">
                <a ng-click="calcular()" class="item item-icon-left calcularbtn">
                  <i class="icon ion-gear-a"></i>
                  Calcular
                  <span ng-model="mat1_total" class="item-note">
                    Total: {{mat1_sg2*1+mat1_sg1*1+mat1_sg3*1}}
                  </span>
                </a>
                </div>

              </div>
      </item>



    </div>
  </ion-content>

  <div class="bar bar-footer">
    <p>Semestral: 420</p>
    <p style="color:#e74c3c; padding-left: 5px">Ponderado: 320</p>
    <button class="button button-clear button-dark pull-right"><i class="icon ion-gear-a"></i>Calcular</button>
  </div>

</ion-view>
