<ion-view title="Calendario academico">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  
  <ion-content>
  	<div class="list">
            <a class="button button-full button-large button-outline button-energized" href="#" onclick="window.open('https://docs.google.com/viewer?url=http://admisiones.unimagdalena.edu.co/files/Calendario_Academico_2014.pdf', '_system', 'location=no'); return false;">
                Ver Calendario Academico 2014
            </a>
        </div>
  </ion-content>
	
</ion-view>