<ion-view title="Directorio de contacto">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
 
  
  <ion-content>
  	<div class="list card">
       
       		<div class="item item-divider item-balanced">
                <i class="icon ion-android-lightbulb"></i> Ingenieria de Sistemas
            </div>

          <div class="item item-stable">
                <h2> Decano Facultad de Ingenieria </h2>
                <p>Ing. Juan Carlos de la Rosa Serrano<br>
				<i class="icon ion-android-call"></i> <a href="tel:54301292">PBX: 4301292 </a> EXT 244 <br>
				<i class="icon ion-email"></i> <a href="mailto:facingenieria@unimagdalena.edu.co">facingenieria@unimagdalena.edu.co</a>
                </p>
            </div>
            <div class="item item-stable">
                <h2> Directora de Programa Ingenieria de Sistemas </h2>
                <p>Ing. Ines Meriño Fuentes<br>
				<i class="icon ion-android-call"></i> <a href="tel:3003290119">300 3290 119 </a> <br>
				<i class="icon ion-email"></i> <a href="mailto:imerinof@gmail.com">imerinof@gmail.com</a>
                </p>
            </div>

            <div class="item item-divider item-assertive">
                <i class="icon ion-android-contacts"></i> Otros contactos de Interes
            </div>
           
          <div class="item item-stable">
                <h2> Admisiones, Registro y control academico </h2>
                <p>
				<i class="icon ion-android-call"></i> <a href="tel:54301292">PBX: 4301292 </a> EXT 212, 139 y 117 <br>
				<i class="icon ion-email"></i> <a href="mailto:admisiones@unimagdalena.edu.co">admisiones@unimagdalena.edu.co</a>
                </p>
                
            </div>
            <div class="item item-stable">
                <h2> Bienestar universitario </h2>
                <p>
				<i class="icon ion-android-call"></i> <a href="tel:54301292">PBX: 4301292  </a> EXT 247<br>
				<i class="icon ion-email"></i> <a href="mailto:bienestar@unimagdalena.edu.co">bienestar@unimagdalena.edu.co</a>
                </p>
            </div>
    
      </div>
     
  </ion-content>
	
</ion-view>