body{
	background-color: #00335e;
}
#logo{
	padding: 0;
	margin: 0;
	width:100%;
	max-height: 80%
}
.scroll-content {
    background-color: #00335e;
 }
.rojo{
	color: red;
}
.verde {
	color: green;
}
.imgMenu {
	padding: 0;
	padding-left: 29%;
	margin: 0;
	max-height: 80%
}
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.button{
	line-height: 24px;
}
.btnMenu{
	width: 100%;
	padding: 20px;
}

.btnMenu .icon:before, .button.icon:before{
	font-size: 58px;
}

.iframe-issue {
    -webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;

 }

  .noborder{
  	border-width:0;
  }
  .calcularbtn{
  	border-width:0;
  	background-color: transparent;	
  	padding-top: 2px;
  	padding-bottom: 2px;
  }

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

/*.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}*/